@import "kube/kube.less";

body {
    color: #333;
    background: rgb(255,255,253);
    font-family: "Avenir Next";

    padding: 5em 6em;

    @media (max-width: @breakpoint-small) {
        padding-left: 1em;
        padding-right: 1em;
    }
}

a {
    color: #ff63be;
}

/* A hack to get square elements */
.height-to-width {
    display: inline-block;
    position: relative;
    width: 100%;

    /* A dummy div is needed as a first-child */
    > :first-child {
        /* This is equal to the parent's width */
        margin-top: 100%;
    }
    > :not(:first-child) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.index-route {
    .title {
        font-weight: 300;
        text-align: center;

        h1 {
            font-size: 64pt;
            font-weight: 300;
            letter-spacing: 0.15em;
        }
        p {
            font-size: 13pt;
            margin-top: -0.8em;
        }
    }

    .upload {
        padding-top: 1em;
    }
    .image-browser {
        padding-top: 4em;
    }
}

.upload {
    p {
        text-align: center;
    }
    row.upload-row {
        background-color: rgb(241,241,241);
        padding: 2em 0;

        @media (min-width: @breakpoint-small) {
            .image-container {
                .height-to-width;

                .image-centering {
                    .vertical-align;
                }
            };
        }
    }
}

.image-browser {
    > div {
        /* Copied from kube/blocks.less */
        @media (min-width: @breakpoint-small) {
            width: 25% - @grid-gap;
        }
        @media (min-width: @breakpoint-medium) {
            width: 20% - @grid-gap;
        }
        @media (min-width: @breakpoint-large) {
            width: 16.6% - @grid-gap;
        }

        @media (max-width: @breakpoint-small) {
            margin-left: 0;
        }
    }
    img {
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
}

.image-route {
    .image-title {
        margin-bottom: 0.5em;

        h1 {
            font-weight: 400;
            margin-bottom: 0;
        }
        p {
            font-weight: 300;
            margin-top: -0.2em;
        }
    }
    .image {
        text-align: center;
    }
}